body {
	background-color: yellow;
}



.one {
	margin-top: 50px;
	text-align: center;
	background-color: blue;
}

.two {
	margin-top: 10px;
	text-align: center;
	height: 200px;
	width: 200px;
	background-color: yellow;
	margin-left: 40%;
}

h1 {
	margin-top: 40px;
}

button {
	margin-top: 10px;
}

#createNewAccount {
	opacity: 0;
	height: 150px;
}

.box {
	height: 100px;
}

button .newId {
	opacity: 0;
}



